{% extends 'base.html.twig' %}

{% block content %}
  <div class="list-group">
    <a class="list-group-item list-group-item-action" href="{{ path('pulls') }}">{{ 'Pulls'|trans }}</a>
  </div>
{% endblock %}
